<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>db9318fadbbade4b31fdec1f6dd3fa60</string>
	<key>privateKey</key>
	<string>10740252f2a120752c57fad530e1ff97b5019b23</string>
</dict>
</plist>
